{
"extends": "airbnb-base",
"env": {
"browser": true,
"node": true
},
"rules": {
"linebreak-style":["error","windows"],
"indent":[2,4],
"no-undef":0,
"prefer-const":0,
"no-unused-vars":0,
"no-underscore-dangle":0,
"comma-dangle":0,
"no-param-reassign":0,
"prefer-template":0,
"no-useless-concat":0,
"no-use-before-define":0,
"arrow-parens":0,
"func-names":["error","never"]
	}
}
